<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="dist/css/custom.min.css">
	<title>News API</title>
</head>
<body>

	<!--Vue App Begins -->
	<div id="app">

		<h1>{{message}}</h1>
		<ul id="example-1" v-if="news">
		  <li v-for="item in news.slice(0, 8)" :key="item.author" class="news-item">
		   <span class="author">{{ item.author }}</span><span class="description">{{item.description}}</span>
		  </li>
		</ul>

  </div>
  <!-- app ENDS -->

	<!-- articles[0].author -->
	<script src="/dist/js/bundle.js"></script>
</body>
</html>