<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="dist/css/custom.min.css">
	<title>News API</title>
</head>
<body>

	<div id="app">

	<!-- Home page STARTS -->
		<div class="home" id="home" v-if="display">
			<h1>{{message}}</h1>
			<button @click="goAboutPage()">About Page</button>
			<ul v-if="news">
				<li v-for="item in news" class="news-item" @mouseover="hoverWithTippy()" @click="generateArticleDisplay(item)">

					<span class="author">{{item.author | checkForAuthor}}</span>

					<span class="description">{{item.description | allWordCaps}}</span>
				</li>
			</ul>
			<div class="content-display" id="contentDisplay" v-show="displayPanel">
				<p>{{displayPanel}}</p>
			</div>
		</div>
		<!-- Home page ENDS -->

		<!-- About page STARTS -->
		<div class="about" id="about" v-if="display === false">
			<h1 @click="basicAlert()">{{aboutPage}}</h1>
			<button @click="goHomePage()">Home Page</button>
		</div>
		<!-- About page ENDS -->


	</div>
	<!-- App ENDS -->

	<!-- articles[0].author -->
	<script src="/dist/js/bundle.js"></script>
</body>
</html>